@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

//text colors
$color-1: #374151;
$color-2: #6b7280;
$color-3: #111827;
$color-4: #3246d2;
$color-5: #1f2937;
$color-6: #dbeafe;
$color-7: #1e40af;
$color-8: #3b82f6;
$color-9: #f59e0b;
$color-10: #047857;
$color-11: #10b981;
$color-12: #4b5563;
$color-13: #fff;
$color-14: #007bff;
$color-15: #000;
$color-16: #8496a7;
$color-17: #333dc2;
$color-18: #666;
$color-19: #9ca3af;

$color-20: #516ce0;
$color-21: #555;
$color-22: #333;
$color-23: #d1d5db;
$color-24: #d97706;
$color-25: #fca5a5;

//background color
$background-1: #fff;
$background-2: #dc2626;
$background-3: #ffc500;
$background-4: #111827;
$background-5: #f1f4fd;
$background-6: #f9fafb;
$background-7: #c6cad2;
$background-8: #dbeafe;
$background-9: #fef3c7;
$background-10: #d1fae5;
$background-11: #9d174d;
$background-12: #fef2f2;
$background-13: #dfe6fa;
$background-14: #3246d2;
$background-15: #f3f4f6;
$background-16: #ffe41b;
$background-17: #516ce0;
$background-18: #fffbeb;
$background-19: #155e75;
$background-20: #ffffff;
$background-21: #ccc;
$background-22: #f1f1f1;
$background-23: #888;
$background-24: #555;
$background-25: #ea580c;
$background-26: #f9f9f9;
$background-27: #e0e0e0;
$background-28: #e0e7ff;
$background-29: #e5e7eb;
$background-30: #fcd34d;
$background-31: #f4f4f5;
$background-32: #d9d9d9;
$background-33: #ffc500;

// border color box shadow
$border-1: #e5e7eb;
$border-2: #fee2e2;
$border-3: #3246d2;
$border-4: #3b82f6;
$border-5: #6b7280;
$border-6: #d1d5db;
$border-7: #fff;
$border-8: #d4d8de;
$border-9: #f3f4f6;
$border-10: #c6d3f7;
$border-11: #9090900f;
$border-12: #ef4444;
$border-13: #10b981;
$border-14: #2563eb;
$border-15: #e5e5e5;
$border-16: #f9fafb;

//font-family
$main-font: "Nunito";
$secondary-font: "Inter";

//font-size

$dashboard-aside-width: 14.9375rem;
$dashboard-shrinked-aside-width: 4rem;

//dimensions
