@use "./variables" as *;

body {
	font-family: $main-font;
	// color: color(secondary-black);
	user-select: none;
	margin: 0;
	height: 100%;
	width: 100%;
}
* {
	font-family: $main-font;
	box-sizing: border-box;
}
*::-webkit-scrollbar {
	width: 0.25rem;
}

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
	background-color: #a6a5a6;
	// outline: 1px solid slategrey;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
